.sum-item{

	float: left;
	width: 21.2%;
	margin-right: 5%;
	background: white;
	border-bottom: 1px solid #e6e6e6;
	border-radius: 3px;
	padding: 20px;

	&:last-child{margin-right:0;}

	.icon, .descript{
		display: inline-block;
		vertical-align: text-top;
	}

	.icon{

		border-radius: 5px;
		padding: 6px;
		background-color: $primary-color;
		color: white;
		text-align: center;
		width: 30%;

		i{
			font-size: 30px;
		}
	}

	.descript{
		padding: 0 10px;
		width: 60%;
	}

} // .sum-item


.panel{

	margin-bottom: 20px;

	.panel-header{
		background-color: #fafafa;
		padding: 15px;
		border-bottom: 1px solid #e6e6e6;
		border-radius: 4px 4px 0 0;

		p{
			color: gray;
		}
	}

	.panel-body{
		background-color: white;
		padding: 15px;

		p{
			a{
				color: $primary-color;
				text-decoration: underline;

				&:hover{
					color: $text-color;
				}
			}
		}
	}
} // .panel

.panel-half{

	width: 47.5%;
	margin-right: 5%;
	float: left;
	margin-bottom: 20px;

	&:last-child{margin-right: 0}


	@include notebook{
		width: 100%;
	}

	.panel-header{
		background-color: #fafafa;
		padding: 15px;
		border-bottom: 1px solid #e6e6e6;
		border-radius: 4px 4px 0 0;

		p{
			color: gray;
		}
	}

	.panel-body{
		background-color: white;
		padding: 15px;

		p{
			a{
				color: $primary-color;
				text-decoration: underline;

				&:hover{
					color: $text-color;
				}
			}
		}
	}
} // .panel
