body{
	font-family: Roboto, Arial;
	font-weight: 300;
	color: $text-color;
}

.container{
	width: 92%;
}

#backoffice{
	width: 100%;
	display: table;

	@include tablet{
		display: block;
	}

	@include smartphone{
		display: block;
	}
}

#aside, #main{
	display: table-cell;

	@include tablet{
		display: block;
	}

	@include smartphone{
		display: block;
	}
}

#aside{

	background-color: #39435C;
	color: white;
	width: 20%;

	@include tablet{
		width: 100%;
	}

	@include smartphone{
		width: 100%;
	}

	#aside-header{
		padding: 20px;

		h1{
			text-align: center;
			font-size: 32px;
			font-weight: 700;
			margin-bottom: 10px;
		}
	}

	#nav-trigger{

		text-align: center;
		font-size: 30px;
		display: none;

		&:hover{
			cursor: pointer;
		}

		@include tablet{
			display: block;
		}

		@include smartphone{
			display: block;
		}
	}

	nav{
		min-height: 95vh;


		@include tablet{
			min-height: auto;
			text-align: center;
			display: none;
		}

		@include smartphone{
			min-height: auto;
			text-align: center;
			display: none;
		}


		ul{

			li{

				display: block;

				&:hover{
					background-color: #395371;
				}

				a{
					display: block;
					color: white;
					padding: 15px 20px;

					&:hover{

					}

					i{
						margin-right: 4px;
					}
				}
			} // li
		} // ul
	} // nav
} // #aside


#main{

	width: 80%;
	background-color: #f0f0f0;

	@include tablet{
		width: 100%;
	}

	@include smartphone{
		width: 100%;
	}

	header{
		padding: 20px;
		background-color: white;
		border-bottom: 1px solid #e6e6e6;

		span{
			float: right;
		}
	}

	main{

		padding: 30px;
		line-height: 1.5em;
	}
} // #main

.row{
	margin: 30px 0;
	width: 100%;
	*zoom: 1;

	&:after{
		content: "";
		display: table;
		clear: both;
	}

} // .row



h1{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
}

h2{
	font-size: 28px;
	font-weight: 700;
}

h3{
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 15px;
	text-transform: uppercase;

}


p{
	margin-bottom: 15px;
}



.bouton{

	padding: 2px 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	display: block;
	margin: 15px 0;
	text-align: center;

	&.ib{
		display: inline-block;
	}

	@include transition(all, 0.3s);
}

.bouton-red{

	border: 1px solid $primary-color;
	color: $primary-color;

	@extend .bouton;

	&:hover{

		background-color: $primary-color;
		color: white;
	}
}

.bouton-green{

	border: 1px solid mediumaquamarine;
	color: mediumaquamarine;

	@extend .bouton;

	&:hover{

		background-color: mediumaquamarine;
		color: white;
	}
}

.bouton-blue{

	border: 1px solid steelblue;
	color: steelblue;

	@extend .bouton;

	&:hover{

		background-color: steelblue;
		color: white;
	}
}

.bouton-retour{

	border: 1px solid darkgray;
	color: darkgray;

	@extend .bouton;
	border-radius: 8px 0 0 8px;

	margin: 0;

	&:hover{

		background-color: darkgray;
		color: white;
	}
}

strong{font-weight: bold;}

quote{
	font-style: italic;
}


.pager{display: none}
