@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?a84oho');
	src:url('../fonts/icomoon.eot?#iefixa84oho') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?a84oho') format('truetype'),
		url('../fonts/icomoon.woff?a84oho') format('woff'),
		url('../fonts/icomoon.svg?a84oho#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-file-text:before {
	content: "\e922";
}
.icon-coin-euro:before {
	content: "\e93c";
}
.icon-bell:before {
	content: "\e951";
}
.icon-user:before {
	content: "\e971";
}
.icon-wrench:before {
	content: "\e991";
}
.icon-stats-dots:before {
	content: "\e99b";
}
.icon-switch:before {
	content: "\e9b6";
}
.icon-clipboard:before {
	content: "\e9b8";
}
.icon-menu:before {
	content: "\e9bd";
}
