AppBundle\Entity\User:
    type: entity
    table: null
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        firstname:
            type: string
            length: '50'
        lastname:
            type: string
            length: '50'
        password:
            type: string
            length: '64'
        email:
            type: string
            length: 255
            unique: true
        isActive:
            type: boolean
    oneToMany:
        grade:
            targetEntity: AppBundle\Entity\Grade
            mappedBy: user
            cascade: ["persist", "remove"]
    oneToOne:
        lesson:
            targetEntity: AppBundle\Entity\Lesson
            mappedBy: author
    lifecycleCallbacks: {  }
